FRESHSALES_BUNDLE_ALIAS=pramogh.myfreshworks.com/crm/sales
FRESHSALES_API_KEY=
WATI_ENDPOINT=https://live-mt-server.wati.io/1013669
WATI_TOKEN=
WATI_TEMPLATE_NAME=gems_recommendation
WATI_OWNER_NUMBER=919541911021
WATI_CHANNEL_NUMBER=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
